* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
}

#editProfileUpModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input,
textarea,
#signUpForm button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #7d7979;
}

#signUpForm button {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#signUpForm button:hover {
    transform: translateY(-2px);
}

/* Upload Icon Styling */
.upload-icon {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: #757575;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #7575754d;
    text-align: left;
}

.upload-icon i {
    margin-right: 5px;
}

.card {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.allPosts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.posts_Here {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
}

.Image_Des {
    padding: 15px;
}

.post_text {
    padding-top: 15px;
}

.posts_Here img {
    width: 100%;
    height: 500px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title img,
.inputPost img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.postings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 24%;
    top: 5%;
    width: 65%;
}

.inputsInside {
    width: 73%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputPost {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}


.inputPost input {
    width: 100%;
    outline: none;
    margin: 0;
}

.inputPost button {
    padding: 10px 30px;
}

label {
    border: 1px solid gainsboro;
    padding: 10px 8px;
    color: gray;
}

label i {
    padding-right: 5px;
}

.optionsFilter {
    margin: 0 auto;
}

.title div h3,
.title div p {
    margin: 0;
    padding: 0;
}

.title div {
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Loader img */

.loaderImg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #80808078;
    z-index: 3;
}

.loaderImg i {
    font-size: 60px;
    animation: loaderCircular 1s infinite;
}

@keyframes loaderCircular {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}